<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzp.superscreenlock">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 模糊定位权限：一般用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精确定位权限：一般用于gps定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LockScreenBase">

        <!-- baidu map -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cpa8FsqseUA3jueqAYgonearbjAU1kXV" />

        <activity
            android:name=".activity.LockScreenActivity"
            android:fitsSystemWindows="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.ScreenReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.BootService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.BaseService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receiver.NetworkReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.LocationActivity"></activity>
    </application>

</manifest>