<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzp.superscreenlock">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 模糊定位权限：一般用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精确定位权限：一般用于gps定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- baidu map -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4Zp5bMm1Azhr3p5G2ze3WKK5Ai29lVQO" />

        <activity
            android:name=".activity.LockScreenActivity"
            android:fitsSystemWindows="true"
            android:launchMode="singleTask"
            android:theme="@style/LockScreenBase" />
        <activity android:name=".activity.EnvEditActivity" />

        <receiver
            android:name=".receiver.ScreenReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.BootService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.BaseService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receiver.NetworkReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DetailEditActivity" />
        <activity android:name=".activity.AppSettingActivity" />
        <activity android:name=".activity.ScreenIconSettingActivity">
            <intent-filter>
                <action android:name="com.hzp.superscreenlock.activity.ScreenIconSettingActivity.bottom"/>
                <action android:name="com.hzp.superscreenlock.activity.ScreenIconSettingActivity.slide"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>